.text_cta .rich-text__content .showForm {
  display: none;
}

.field:after,
.button:after {
  content: unset;
}

.newsletter-form.form.is-responsive {
  flex-direction: row;
  align-items: center;
  margin: unset;
  max-width: 100%;
  display: flex;
}

.text_cta .rich-text__content .showNewsletter {
  display: block !important;
}

.text_cta .rich-text__content .newsletter-form input {
  background: transparent;
  border: none;
  outline: none;
  box-shadow: none;
  font-family: BaiJamjuree-Regular, sans-serif;
  padding: 0;
  color: #363636;
}

.text_cta .rich-text__text {
  margin-bottom: 0.5%;
}

.text_cta .rich-text__content .newsletter-form input {
  background: transparent;
  border: none;
  outline: none;
  box-shadow: none;
  padding: 0;
}

.text_cta .rich-text__content .newsletter-form__wrapper {
  border-bottom: 1px solid #363636;
  width: 40%;
  display: none;
}

.text_cta .rich-text__content .newsletter-form .field .control {
  width: 100%;
}

.text_cta .rich-text__content .newsletter-form .field {
  margin: 0;
  width: unset;
}

.text_cta .rich-text__content .newsletter-form input::placeholder {
  color: #363636;
  opacity: 50%;
}

.newsletter-form .field.is-stretched-width {
  flex: 3 0 50%;
  min-width: 200px;
  max-width: 100%;
}

.is-sr-only {
  border: none !important;
  clip: rect(0, 0, 0, 0) !important;
  height: 0.01em !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: 0.01em !important;
}

.text_cta .rich-text__content .newsletter-form button[type="submit"] {
  background: transparent;
  color: #363636;
  opacity: 70%;
  justify-content: end;
  padding-right: 0;
  box-shadow: none;
  font-family: BaiJamjuree-Regular, sans-serif;
}

.text_cta .rich-text__content p.toggleNewsletter {
  color: #363636 !important;
  text-decoration: underline;
  width: 15%;
  cursor: pointer;
}

.text_cta .rich-text__content a:hover {
  color: #363636;
}

.bg_image {
  position: relative;
  line-height: 0;
  /* padding: 40px; */
  width: fit-content;
}

.bg_image img {
  width: 100%;
  height: 100%;
}

.custom_text_cta {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  height: 70%;
  max-width: 100% !important;
  width: 80% !important;
  left: 10%;
}

section.text_cta {
  position: relative;
}

.text_cta .desktop_img {
  display: block;
}

.text_cta .mobile_img {
  display: none;
}

.text_cta .rich-text__text p {
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 700;
}

@media only screen and (max-width: 600px) {
  .parmargin {
    margin: 0 4.672vw !important;
  }
  .bg_image {
    position: relative;
    line-height: 0;
    /* padding: 40px; */
    width: fit-content;
  }

  .custom_text_cta .rich-text__heading {
    letter-spacing: 0px;
    line-height: 23px;
    padding-top: 0%;
    padding-bottom: 2%;
    font-size: 18px !important;
  }
  .btn {
    display: inline-block;
    padding: 12px 24px;
    font-size: 1rem;
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: 700;
    color: #fff;
    background-color: #f76c6c;
    border: none;
    border-radius: 30px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s;
    cursor: pointer;
  }

  .btn:hover,
  .btn:focus {
    background-color: #e55d5d;
    transform: scale(1.05);
  }

  .btn:active {
    background-color: #d9534f;
    transform: scale(0.95);
  }

  .btn:disabled {
    background-color: #ddd;
    color: #aaa;
    cursor: not-allowed;
  }

  .custom_text_cta {
    width: 100% !important;
    left: 0;
  }

  .custom_text_cta .rich-text__text {
    margin-bottom: 0.5rem;
  }

  .text_cta .desktop_img {
    display: none;
    width: 200%;
  }

  .text_cta .mobile_img {
    display: block;
    width: max-content;
  }

  .text_cta .rich-text__content .newsletter-form__wrapper {
    width: 70%;
  }

  .text_cta .rich-text__content .newsletter-form .field.is-stretched-width {
    min-width: 180px;
  }

  .text_cta .rich-text__content .newsletter-form .field.is-default-width {
    min-width: 80px;
  }

  .text_cta .rich-text__content p.toggleNewsletter {
    width: 40%;
  }

  .newsletter-form__wrapper.showNewsletter {
    margin: 0 4.672vw !important;
  }
}
@media (max-width: 1024px) and (min-width: 600px) {
  .rich-text__heading {
    font-size: 20px !important;
  }
  .rich-text__text.has-columns--1.text-align-left.content {
    font-size: 15px !important;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }
  .text_cta .rich-text__content p.toggleNewsletter {
    width: 10%;
  }
}

#shopify-section-template--16897766424771__0137743a-aa95-442a-b567-6da26283d8f8 {
  padding-top: 0px;
  padding-bottom: 16px;
  padding-left: 0px;
  padding-right: 0px;

  width: 100%;
}

#shopify-section-template--16897766424771__0137743a-aa95-442a-b567-6da26283d8f8
  .section {
}
#shopify-section-template--16897766424771__0137743a-aa95-442a-b567-6da26283d8f8
  .rich-text__heading {
  font-size: 30px;
  color: #363636;
}
#shopify-section-template--16897766424771__0137743a-aa95-442a-b567-6da26283d8f8
  .rich-text__text {
  font-size: 18px;
  color: #363636;
}
