.footer-container {
  background-image: url('//cdn.shopify.com/s/files/1/0155/8131/files/Group_4932.png?v=1652346357');
  background-size: cover; /* Ensures the image covers the entire footer */
  background-position: center; /* Centers the background image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  padding: 2rem 0; /* Adjust padding as needed */
}

.footer-container.mobile {
  background-image: url('//cdn.shopify.com/s/files/1/0155/8131/files/Group_4058_29ac73ce-f1de-45fd-a4f7-bc35a5925187.png?v=1664284653');
}