body {
  background-color: #ffffff !important;
  font-family: "Nunito Sans", sans-serif !important;
}

.MuiContainer-root {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: "Nunito Sans", sans-serif !important;

}
